// Colors
$black: #000;
$white: #fff;
$blue: #0f3263;
$blue-transparent: rgba(15, 50, 99, 0.7);

$gray-light: #ddd;
$gray-md: #999;
$gray-dark: #424344;

$bg-hover-light: #ebf0f4;
$shadow-dark: rgba(0, 0, 0, 0.1);
