// Spacing
$spacing-xs: 0.5rem;
$spacing-sm: 0.75rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 2.75rem;

// Z-index
$z-index-navbar: 50;
$z-index-hamburger: 60;
$z-index-dropdown: 40;

// Breakpoints
$breakpoint-md: 994px;
$breakpoint-xl: 1402px;

// Font
$font-weight-normal: 400;
$font-weight-md: 600;
